header{
    display: flex;
       justify-content: space-between;

    width: 75%;
    margin: 50px auto 0;
    padding: 0px 49px 0 45px;
}
.buttonLogIn{
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
    min-width: 70px;
    font-weight: 700;
    font-size: 18px;
}

@media  screen and (max-width:500px) {
header{
   margin:50px 0 0;
   width: 100%;
}
}
